@charset "UTF-8";
*{
	margin:0; padding:0;
	}
#main_box h1{
	text-align:center;
	text-shadow:3px 3px 5px gray;
	color:#fff;
	}
/* 나중에 지움  */
#main_box{
	width:800px;
	margin:0 auto;
	overflow:hidden;
	/* border:1px solid black; */
	}
#photo_box{
	width:710px;
	height:665px;
	border:1px solid blue;
	box-shadow:5px 5px 10px gray;
	padding: 10px;
	margin:0 auto;
	overflow:auto;
}

.photo_type{
	width:150px;
	height:200px;
	border:1px solid green;
	float:left;
	margin:10px;
}
/* 범위를 벗어나는 텍스트에 ...처리 */
.title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.photo_type img{
	display:block;
	margin:2px auto;
	width:98%;
	height:150px;
	border:1px solid black;
}
body{
	position:relative;
}
#showImg{
	position:absolute;
	top:100px;
	left:25%;
	width:50%;
}







